{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoteMate</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gray-100">
<header>{% include "nav.html" %}</header>
<main {% block mainClass %}{% endblock mainClass %}>
{% block content %}
{% include "Hero.html" %}
{% include "about.html" %}
{% include "sign-up.html" %}
{% include "sign-in.html" %}
{% endblock content %}

</main>

{% include "footer.html" %}
<script src='{% static "js/scripts.js" %}'></script>
</body>
</html>
